body {
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: rgba(100, 37, 37, 0.384);
}


.container {
    background-color: rgba(100, 37, 37, 0.774);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(207, 207, 207, 0.1);
    text-align: center;
    width: 400px;
}

.container h2 {
    font-family: "Julius Sans One", sans-serif;
    font-weight: 400;
    font-style: normal;;
}


form {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="number"] {
    width: calc(100% - 10px);
    padding: 8px;
    margin: 5px 0;
    box-sizing: border-box;
    border: none;
    border-bottom: 1px solid white;
    border-radius: 3px;
    background:none;
}

button {
    background-color: rgba(100, 37, 37, 0.774);
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

button:hover {
    background-color:  rgba(80, 10, 10, 0.774);
}

.message {
    padding: 10px;
    border-radius: 3px;
    display: none;
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
}

.message.valid {
    background-color:rgba(231, 156, 156, 0.774);
    color: white;
}

.message.invalid {
    background-color: #b10000;
    color: white;
}   
